
nav  #btndiv{
      margin-left: 233px !important;
    border-left: solid 4px gray !important;
    color: red;
    border-radius: 20px;
}
#img1
{
       float: left;
    width: 60px;
    height: 24px;
    margin: 15px 0px 0px -3px;
}
.mainsection{
    background-color: #007aff;
}
 .Cancelbtn{
      border-radius: 20px !important;
     margin-left: 180px !important;
      border-left: solid 4px gray !important;  
       padding: 0px !important;
}
 nav .Savvebtn{
      border-radius: 20px !important;
       border-left: solid 4px gray !important;
          padding: 0px !important;
      
 }
 .deletebtn{
    width: 33px !important;
    height: 37px !important;
    margin: 0px -7px 0px 258px !important;
    padding: 0px !important;
    background-color: #a23c7b !important;

     
 }
 .morebtn{
       width: 33px !important;
    height: 37px !important;
       padding: 0px !important;
         background-color: #a23c7b !important;
 }
 #art{
     background-color:#007aff !important;
 }
 .deletebtn2{
      width: 33px !important;
    height: 37px !important;
    margin: 2px -13px 0px 191px !important;
       padding: 0px !important;
       background-color: #a23c7b !important;
 }
 .colorbtn{
     width: 33px !important ;
    height: 37px !important;
       padding: 0px !important;
       background-color: #a23c7b !important;
 }
 .lockbtn{
     width: 33px !important;
     height: 37px !important;
    margin: 0px -12px 0px -13px !important;
    padding: 0px !important;
    background-color: #a23c7b !important;
 }
 .Togglebtn2{
     width: 33px !important;
    height: 37px !important;
    margin: 0px -12px 0px 9px !important;
    padding: 0px !important;
    background-color: #a23c7b !important;
 }
 
 #btn{
     padding: 0px !important;
 }
.moreicon{
    /*background-color: #a23c7b;
    margin: 15px -13px 3px 201px !important;*/
}
#toggleseconddiv{
    
     background-color: #007aff !important;
}